@import "../dep/esui/src/css/main.less";
@import "../src/main.less";

@TextBox-HintBackgroundColor: blue;
@TextLine-Border: 1px solid red;
@TextLine-HoverBorder: 1px solid green;
@TextLine-NumLineBackground: #dbafca;
@TextLine-NumLineColor: #333;
@TextLine-NumLineWidth: 50px;


@Button-Background: #bafec0;
