@import "../dep/esui/src/css/main.less";
@import "../src/main.less";

@TextBox-HintBackgroundColor: blue;
@TextLine-Border: 1px solid red;
@TextLine-HoverBorder: 1px solid green;
@TextLine-NumLineBackground: #dbafca;
@TextLine-NumLineColor: #333;
@TextLine-NumLineWidth: 50px;

@Button-Background: #a8e2d7;
@Button-TextColor: #fff;
@Button-Border: 1px solid #a8e2d7;
@Button-HoverBackground: #89d9ce;
@Button-HoverBorder: 1px solid #89d9ce;
@Button-ActiveBackground: #89d9ce;
@Button-ActiveBorder: 1px solid #71cfc3;



@Pager-ItemBorderColor: transparent;
@Pager-ItemCurrentBackground: #e0e0e0;

@Wizard-NodeActiveBackgroundColor: #44b2a4;
@Wizard-NodeDoneBackgroundColor: #6ccdc0;

@Table-RowHoverBackgroundColor: #bafec0;

@Schedule-FollowItemBorder: 1px solid red;
@Schedule-ItemBorder: 1px solid #44b2a4;
@Schedule-ShortcutItemBorder: 1px solid #44b2a4;
@Schedule-TimeHoverBorder: 1px solid #44b2a4;
@Schedule-TimeHoverBackgroundColor: #bafec0;


@Tree-ContentSelectedBackground: #bafec0;
@Tree-ContentSelectedBorder: 4px solid #44b2a4;

@Calendar-Border: 1px solid #44b2a4;
@Calendar-HoverBorderColor: #44b2a4;
@Calendar-TextColor: #666;

@Monthview-HeadBackground: #6ccdc0;
@Monthview-MonthItemColor: #44b2a4;
@Monthview-MonthItemSelectedBackground: #dbafca;
@Monthview-MonthItemSelectedColor: #fff;
@Monthview-MonthItemBorder: 1px solid #44b2a4;
@Monthview-MonthRowSelectBackground: #bafec0;
@Monthview-MonthRowSelectSelectedBackground: #44b2a4;


