
@Button-background: #6dcec0;
@Button-border-style: solid;
@Button-border-width: 1px;
@Button-border-color: @Button-background;
@Button-color: #fff;
@Button-radius: 0;
@Button-font-size: 13px;
@Button-padding: 0 15px;
@Button-height: 35px - 2 * @Button-border-width;

@Button-hover-background: #72dccd;
@Button-hover-color: @Button-color;
@Button-hover-border-color: @Button-hover-background;

@Button-active-background: #65cabd;
@Button-active-color: @Button-color;
@Button-active-border-color: #46B3A5 #59C0B2 #66C9BB;

@Button-disabled-background: #eaeaea;
@Button-disabled-color: #656565;
@Button-disabled-border-color: @Button-disabled-background;

.ui-button {
    background: @Button-background;
    border-style: @Button-border-style;
    border-color: @Button-border-color;
    border-width: @Button-border-width;
    color: @Button-color;
    font-size: @Button-font-size;
    padding: @Button-padding;
    border-radius: @Button-radius;
    height: @Button-height;
    line-height: @Button-height;
}

button.ui-button {
    *height: @Button-height + 2px;
}

.ui-button:hover {
    border-color: @Button-hover-border-color;
    background: @Button-hover-background;
    color: @Button-hover-color;
    border-width: @Button-border-width;
}

.ui-button:active {
    border-color: @Button-active-border-color;
    background: @Button-active-background;
    color: @Button-active-color;
}

.ui-button-disabled {
    border-color: @Button-disabled-border-color;
    background: @Button-disabled-background;
    color: @Button-disabled-color;
    &:hover {
        border-color: @Button-disabled-border-color;
        background: @Button-disabled-background;
        color: @Button-disabled-color;
    }
    &:active {
        border-color: @Button-disabled-border-color;
        background: @Button-disabled-background;
        color: @Button-disabled-color;
    }
}