//default
@Button-Height: 31px;
@Button-Padding: 0 10px;
@Button-Background: #eaeaea;
@Button-Border: 1px solid @Button-Background;
@Button-TextColor: #666;

//hover
@Button-HoverBackground: #6ccdc0;
@Button-HoverBorder: 1px solid @Button-HoverBackground;
@Button-HoverTextColor: #fff;

//active
@Button-ActiveBackground: #65cabd;
@Button-ActiveBorder: 1px solid #54beb0;
@Button-ActiveTextColor: @Button-HoverTextColor;

.ui-button {
    background: @Button-Background;
    border: @Button-Border;
    color: @Button-TextColor;
    padding: @Button-Padding;
    border-radius: 0;
    height: @Button-Height;
    line-height: @Button-Height;
}

button.ui-button {
    *height: @Button-Height + 2px;
}

.ui-button:hover {
    border: @Button-HoverBorder;
    background: @Button-HoverBackground;
    color: @Button-HoverTextColor;
}

.ui-button:active {
    border: @Button-ActiveBorder;
    background: @Button-ActiveBackground;
    color: @Button-ActiveTextColor;
}
