@import "variable.less";

.ui-calendar {
    border: @Calendar-border;
    background: @Calendar-background;
    border-radius: @Calendar-border-radius;
}

.ui-calendar-text {
    color: @Calendar-color;
}

.ui-calendar:hover,
.ui-calendar:active {
    border-color: @Calendar-hover-border-color;
}

.ui-calendar-arrow {
    background: @Calendar-arrow-background;
}