@import "variable.less";

.ui-crumb-node,
.ui-crumb-separator {
    padding: @Crumb-padding;
    color: @Crumb-separator-color;
}

.ui-crumb-node {
    color: @Crumb-node-color;
}

.ui-crumb-node-first {
    color: @Crumb-first-node-color;
}

.ui-crumb-node-last {
    color: @Crumb-last-node-color;
}

.ui-crumb-separator {
    margin: @Crumb-separator-margin;
}

