@dialog-background: #fff;
@dialog-border: 1px solid #ddd;
@dialog-width: 470px;

@dialog-head-background: @dialog-background;
@dialog-color: #333;
@dialog-head-height: 43px;

@dialog-title-padding: 0 0 0 15px;
@dialog-title-font-size: 14px;
@dialog-title-height: @dialog-head-height;

@dialog-close-icon-image: url(./img/esui-dialog-head-close.png);
@dialog-close-icon-height: 13px;
@dialog-close-icon-width: 13px;
@dialog-close-icon-right: 15px;
@dialog-close-icon-top: 15px;

@dialog-body-padding: 5px 25px;

@dialog-foot-panel-padding: 25px 30px;

@dialog-foot-button-align: left;

.@{ui-class-prefix}-dialog {
    background: @dialog-background;
    border: @dialog-border;
    width: @dialog-width;
    .border-radius(0);
}

.@{ui-class-prefix}-dialog-head {
    background: @dialog-head-background;
    color: @dialog-color;
    height: @dialog-head-height;
}

.@{ui-class-prefix}-dialog-title {
    padding: @dialog-title-padding;
    font-size: @dialog-title-font-size;
    line-height: @dialog-title-height;
}

.@{ui-class-prefix}-dialog-close-icon {
    .normal-icon(@dialog-close-icon-image, @dialog-close-icon-width, @dialog-close-icon-height);
    right: @dialog-close-icon-right;
    top: @dialog-close-icon-top;
}

.@{ui-class-prefix}-dialog-body {
    padding: @dialog-body-padding;
}


.@{ui-class-prefix}-dialog-foot-panel {
    padding: @dialog-foot-panel-padding;
    border: none;
    margin: 0;
}

.@{ui-class-prefix}-dialog-foot {
    float: @dialog-foot-button-align;
    .@{ui-class-prefix}-button {
        margin-right: 6px;
        height: @dialog-foot-button-height;
        line-height: @dialog-foot-button-height;
        width: 90px;
    }
}

.@{ui-class-prefix}-dialog-mask-mixin {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // 兼容IE6
    _position: absolute;
    _width: 100%;
    _height: 100%;
    background: #333;
    opacity: .2;
    filter: alpha(opacity=20);
}

/** 警告框，确认框 */
.skin-alert-dialog,
.skin-confirm-dialog {
    .@{ui-class-prefix}-dialog-body {
        padding: 5px 40px;
    }

    // TODO: 无图标的提示框设计是besc中的，这里迁移到esui-flat-theme不知是否合适。
    .@{ui-class-prefix}-dialog-icon-warning, .@{ui-class-prefix}-dialog-icon-confirm {
        display: none;
    }

    .@{ui-class-prefix}-dialog-cancel-btn {
        width: 30px;
        .skin-link-button();
    }

    .@{ui-class-prefix}-dialog-text {
        margin-top: 0;
        line-height: 18px;
        margin-right: 0;
    }
}
