@import "variable.less";

.ui-monthview {
    background: @Monthview-background;

    .ui-select {
        height: 17px;
        line-height: 17px;
    }
}

.ui-monthview-head {
    background: @Monthview-head-background;
}

/** 先前向后按钮 */
.ui-monthview-month-back {
    padding: 0;
    border: 0;
    background: @Monthview-back-button-background;
    &:active,
    &:hover {
        border: 0;
        background: @Monthview-back-button-background;
    }
}

.ui-monthview-month-forward {
    padding: 0;
    border: 0;
    background: @Monthview-forward-button-background;
    &:active,
    &:hover {
        border: 0;
        background: @Monthview-forward-button-background;
    }
}

.ui-monthview-month {
    border: @Monthview-month-border;
}

.ui-monthview-month-title {
    background: @Monthview-month-title-background;
    color: @Monthview-month-title-color;
}

.ui-monthview-month-title-selected {
    background: @Monthview-month-title-selected-background;
}

.ui-monthview-month-item {
    color: @Monthview-month-item-color;
    border-bottom: @Monthview-month-item-border;
}

.ui-monthview-month-item:hover {
    background: @Monthview-month-item-hover-background;
}

.ui-monthview-month-item-selected {
    background: @Monthview-month-item-selected-background;
    color: @Monthview-month-item-selected-color;
}

.ui-monthview-month-item-virtual,
.ui-monthview-month-item-out {
    color: @Monthview-month-item-virtual-color;
    background: @Monthview-month-item-virtual-background;
    &:hover {
        background: @Monthview-month-item-virtual-background;
    }
}

.ui-monthview-month-item-disabled {
    background: @Monthview-month-item-disabled-background;
    &:hover {
        background: @Monthview-month-item-disabled-background;
    }
}

// 多选模式
.ui-monthview-multi-select {
    .ui-monthview-month-select-all {
        background: @Monthview-month-row-select-background;
        &:hover {
            background: @Monthview-month-row-select-background;
        }
    }

    .ui-monthview-month-select-all-selected {
        background: @Monthview-month-row-select-selected-background;
    }

    .ui-monthview-month-row-select {
        background: @Monthview-month-row-select-background;
        border-bottom: @Monthview-month-item-border;
    }
    .ui-monthview-month-row-select-selected {
        background: @Monthview-month-row-select-selected-background;
    }
}

.ui-monthview-disabled {
    .ui-monthview-month-forward:hover,
    .ui-monthview-month-forward:active {
        background: @Monthview-forward-button-disabled-background;
    }

    .ui-monthview-month-back:active,
    .ui-monthview-month-back:hover {
        background: @Monthview-back-button-disabled-background;
    }
}