@pager-margin: 14px;
@pager-height: 18px;
@pager-color: #666;
@pager-padding: 0 20px;

@pager-item-background: transparent;
@pager-item-border: 0;
@pager-item-width: @pager-height;
@pager-item-height: @pager-item-width;
@pager-item-current-background: #cacaca;
@pager-item-current-color: #fff;

.ui-pager  {
    margin: @pager-margin;
    .ui-select {
        border: none;
        width: 70px;
        height: @pager-height;
        line-height: @pager-height;
        padding: @pager-padding;
    }    
}

.ui-pager-label {
    color: @pager-color;
    vertical-align: top;
    line-height: @pager-height;
}

.ui-pager-main li {
    color: @pager-color;
    font-weight: bold;
}

.ui-pager-main a {
    color: @pager-color;
}

.ui-pager-main .ui-pager-item-current {
    background: @pager-item-current-background;
    color: @pager-item-current-color;
}

.ui-pager-item, .ui-pager-item-extend {
    height: @pager-item-height;
    line-height: @pager-item-height;
    background: @pager-item-background;
    border: @pager-item-border;
}

.ui-pager-item {
    width: @pager-item-width;
    color: @pager-color;
}

.ui-pager-item a {
    width: @pager-item-width;
}

.ui-pager-item-current, .ui-pager-item-omit {
    width: @pager-item-width;
    height: @pager-item-height;
    line-height: @pager-item-height;
}