@import "variable.less";

.ui-rangecalendar {
    border: @RangeCalendar-border;
    background: @RangeCalendar-background;
    border-radius: @RangeCalendar-border-radius;
}

.ui-rangecalendar:hover {
    border: @RangeCalendar-hover-border;
}

.ui-rangecalendar:active {
    border: @RangeCalendar-active-border;
}

.ui-rangecalendar-arrow {
    background: url(img/esui-combo-arrow.png) 0 -9px no-repeat;
}

.ui-rangecalendar-layer {
    background: @RangeCalendar-layer-background;

    .ui-rangecalendar-shortcut-item {
        color: @RangeCalendar-shortcut-item-color;
        border-left: @RangeCalendar-shortcut-item-border;
    }

    .ui-rangecalendar-shortcut-item-selected {
        color: @RangeCalendar-shortcut-item-selected-color;
    }
}