@import "variable.less";

.ui-schedule {
    background: @Schedule-background;
    border: @Schedule-border;
}

.ui-schedule-shortcut-item {
    color: @Schedule-shortcut-item-color;
    border: @Schedule-shortcut-item-border;
    border-radius: @Schedule-shortcut-item-border-radius;
}

.ui-schedule-shortcut-item-hover,
.ui-schedule-shortcut-item-press {
    border: @Schedule-shortcut-item-hover-border;
}

.ui-schedule-shortcut-text-item {
    color: @Schedule-shortcut-item-color;
}

.ui-schedule-time,
.ui-schedule-help-selected,
.ui-schedule-help-unselected {
    border: @Schedule-item-border;
    background: @Schedule-help-unselected-background;
}

.ui-schedule-time-selected,
.ui-schedule-help-selected {
    background: @Schedule-help-selected-background;
}

.ui-schedule-time-hover {
    border: @Schedule-time-hover-border;
    background: @Schedule-time-hover-background;
}

.ui-schedule-follow-item {
    border: @Schedule-follow-item-border;
}