@SearchTextBox-Border: 1px solid #ddd;

@SearchTextBox-HoverBorder: @SearchTextBox-Border;
@SearchTextBox-FocusBorder: @SearchTextBox-Border;

.skin-search-textbox {
    input {
        border: @SearchTextBox-Border;

        &:hover {
            border: @SearchTextBox-HoverBorder;
        }

        &:focus {
            border: @SearchTextBox-HoverBorder;
        }
    }
}

.normal-search-icon() {
//    background: @SearchTextBox-NormalSearchIconBackground;
    background-image: url(img/search.png);
}

.active-search-icon() {
//    background: @SearchTextBox-ActiveSearchIconBackground;
    background-image: url(img/search@2x.png);

}

.skin-search-button {
    width: 25px;
    height: 25px;
    border: 0;
    .normal-search-icon();

    &:active {
        .active-search-icon();
    }
}

.skin-search-button-disabled {
    &:active {
        .active-search-icon();
    }
}


.ui-searchbox-focus {
    .skin-search-button {
        .active-search-icon();
    }
}

.searchbox-2x() {
    background-image: url(img/search@2x.png);
    background-size: 15px 50px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .skin-search-button {
        .searchbox-2x();

        &:active {
            .searchbox-2x();
        }
    }

    .ui-searchbox-focus {
        .skin-search-button {
            .searchbox-2x();
        }
    }
}