@import "variable.less";

.skin-search-textbox input {
    border: @SearchBox-border;

    &:hover {
        border: @SearchBox-hover-border;
    }

    &:focus {
        border: @SearchBox-hover-border;
    }
}

.normal-search-icon() {
    background: url(img/search.png) no-repeat;
}

.active-search-icon() {
    background: url(img/search@2x.png) no-repeat;
}

.skin-search-button {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    .normal-search-icon();

    &:active {
        .active-search-icon();
    }
}

.skin-search-button-disabled:active {
    .active-search-icon();
}

.ui-searchbox-focus .skin-search-button {
    .active-search-icon();
}

.searchbox-2x() {
    background-image: url(img/search@2x.png);
    background-size: 15px 50px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .skin-search-button {
        .searchbox-2x();

        &:active {
            .searchbox-2x();
        }
    }

    .ui-searchbox-focus {
        .skin-search-button {
            .searchbox-2x();
        }
    }
}