@Table-BorderColor: #e8e8e8;
@Table-HeadBackgroundColor: #fbfbfb;
@Table-BodyBackgroundColor: #fff;
@Table-BodyBorderColor: #ddd;
@Table-FootBackgroundColor: @Table-HeadBackgroundColor;

@Table-HcellTextPadding: 0 8px;
@Table-HcellColor: #777;
@Table-HcellTextHeight: 36px;

@Table-FcellTextPadding: @Table-HcellTextPadding;
@Table-FcellTextHeight: 32px;
@Table-FcellColor: #000;

@Table-CellTextHeight: 24px;
@Table-CellTextPadding: 4px 8px;

@Table-CellSelHeight: @Table-CellTextHeight;
@Table-CellSelPadding: 3px 8px 0;

@Table-HcellSortHoverBackground: #fede8c4;

@Table-RowBackgroundColor: #fff;
@Table-RowHoverBackgroundColor: #FFF9EE;
@Table-RowBorder: 1px solid #ddd;

@Table-RowSelectedBackgroundColor: #FFF4DD;

@Table-RowUnfoldedBackgroundColor: #FDE8C4;

@Table-CellEditableBorder: 1px solid #a8adb6;
@Table-CellEditableBackgroundColor: #fcfcfc;

@Table-CellEditEntryBackground: url(img/esui.png) -116px -90px;

@Table-EditorBackgroundColor: #FFF6BD;
@Table-EditorBorder: 1px solid #D5CA81;

@Table-SubentryHoverBorderColor: #7a859a;

@Table-SubrowBackgroundColor: #FFF9EE;
@Table-SubrowBorderColor: #ddd;


.ui-table-head {
    background-color: @Table-HeadBackgroundColor;
}

.ui-table-foot {
    background: @Table-FootBackgroundColor;
}

.ui-table-head,
.ui-table-body,
.ui-table-foot {
    table {
        border-color: @Table-BorderColor;
    }
}

/* 表头单元格 */
.ui-table-hcell {
    color: @Table-HcellColor;
    border-color: @Table-BorderColor;
}

/* 表头单元格DIV容器 */
.ui-table-hcell-text {
    height: @Table-HcellTextHeight;
    line-height: @Table-HcellTextHeight;
    padding: @Table-HcellTextPadding;
}

/* 表尾单元格 */
.ui-table-fcell {
    color: @Table-FcellColor;
    border-color: @Table-BorderColor;
}

/* 表尾单元格DIV容器 */
.ui-table-fcell-text {
    height: @Table-FcellTextHeight;
    line-height: @Table-FcellTextHeight;
    padding: @Table-FcellTextPadding;
}

/* 表格内容单元格 */
.ui-table-cell {
    border-color: @Table-BorderColor;
}

/* 表格内容单元格容器 */
.ui-table-cell-text,
.ui-table-body-nodata {
    line-height: @Table-CellTextHeight;
    height: @Table-CellTextHeight;
    padding: @Table-CellTextPadding;
}

.ui-table-cell-sel,
.ui-table-hcell-sel {
    padding: @Table-CellSelPadding;
    height: @Table-CellSelHeight;
    line-height: @Table-CellSelHeight;
}

/* 可排序列的表头样式Hover */
.ui-table-hcell-sort-hover {
    background: @Table-HcellSortHoverBackground;
}

.ui-table-body {
    background: @Table-BodyBackgroundColor;
    border-bottom: 1px solid @Table-BodyBorderColor;
}

.ui-table-body-nodata {
    border: 1px solid @Table-BodyBorderColor;
    border-width: 0 1px;
}

.ui-table-row {
    background-color: @Table-RowBackgroundColor;
    border-bottom: @Table-RowBorder;
}

/* 行表格移上 */
.ui-table-row-hover {
    background: @Table-RowHoverBackgroundColor;
}

.ui-table-row-hover .ui-table-cell-editable {
    border: @Table-CellEditableBorder;
    background-color: @Table-CellEditableBackgroundColor;
}

.ui-table-editor {
    background-color: @Table-EditorBackgroundColor;
    border: @Table-EditorBorder;
}

/* 行表格选中 */
.ui-table-row-selected table {
    background-color: @Table-RowSelectedBackgroundColor;
}

/* 行表格展开 */
.ui-table-row-unfolded {
    background-color: @Table-RowUnfoldedBackgroundColor;
}

.ui-table-cell-editentry {
    background: @Table-CellEditEntryBackground;
}

.ui-table-subentry-hover,
.ui-table-subentry-opened-hover {
    border-color: @Table-SubentryHoverBorderColor;
}

.ui-table-subrow {
    background: @Table-SubrowBackgroundColor;
    border-color: @Table-SubrowBorderColor;
}

