@TextLine-Border: 1px solid #ebebeb;
@TextLine-HoverBorder: 1px solid #ebebeb;

@TextLine-NumLineWidth: 31px;
@TextLine-NumLineBackground: #f7f7f7;
@TextLine-NumLineTextColor: #333;

.ui-textline {
    border: @TextLine-Border;
    &:hover {
        border: @TextLine-HoverBorder;
    }
}

.ui-textline-num-line {
    background: @TextLine-NumLineBackground;
    color: @TextLine-NumLineTextColor;
    width: @TextLine-NumLineWidth;
}

.ui-textline-text-container {
    left: @TextLine-NumLineWidth;
}