@text-box-border: 1px solid #ddd;
@text-box-width: 240px;
@text-box-input-height: 28px;
@text-box-color : #333;
@text-box-background: #fff;

//hover
@text-box-border-hover: 1px solid #65cabd;

//Hint
@text-box-hint-background: #f7f7f7;
@text-box-hint-border: @text-box-border;
@text-box-hint-font-size: 14px;


.ui-textbox {
    input, textarea {
        color: @text-box-color;
        background: @text-box-background;
        border: @text-box-border;
        width: @text-box-width;
        height: @text-box-input-height;
        line-height: @text-box-input-height;
        &:hover {
            border: @text-box-border-hover;
        }
    }
}

.ui-textbox-hint {
    background: @text-box-hint-background;
    border: @text-box-hint-border;
    height: @text-box-input-height;
    line-height: @text-box-input-height;
    font-size: @text-box-hint-font-size;
}

.ui-textbox-placeholder {
    height: @text-box-input-height;
    line-height:  @text-box-input-height;
}

.ui-textbox-disabled,
.ui-textbox-read-only {
    input, textarea {
        border: @text-box-border;
        background: #f6f6f6;
        color: #999;
    }
}