@TextBox-border: 1px solid #ddd;
@TextBox-width: 240px;
@TextBox-input-height: 28px;
@TextBox-color : #333;
@TextBox-background: #fff;

//hover
@TextBox-hover-border: 1px solid #65cabd;

//Hint
@TextBox-hint-background: #f7f7f7;
@TextBox-hint-border: @TextBox-border;
.ui-textbox {
    input, textarea {
        color: @TextBox-color;
        background: @TextBox-background;
        border: @TextBox-border;
        width: @TextBox-width;
        height: @TextBox-input-height;
        line-height: @TextBox-input-height;
        &:hover {
            border: @TextBox-hover-border;
        }
    }
}

.ui-textbox-hint {
    background: @TextBox-hint-background;
    border: @TextBox-hint-border;
    height: @TextBox-input-height;
    line-height: @TextBox-input-height;
}

.ui-textbox-placeholder {
    height: @TextBox-input-height;
    line-height:  @TextBox-input-height;
}

.ui-textbox-disabled,
.ui-textbox-read-only {
    input, textarea {
        border: @TextBox-border;
        background: #f6f6f6;
        color: #999;
    }
}