@text-line-border: 1px solid #ebebeb;
@text-line-hover-border: @text-line-border;
@text-line-num-line-background: #f7f7f7;
@text-line-num-line-color: #333;
@text-line-num-line-width: 30px;
@text-line-num-line-line-height: 25px;
@text-line-num-line-font-size: 12px;

@text-line-textarea-background: #fff;

.@{ui-class-prefix}-textline {
    background: @text-line-num-line-background;
    border: @text-line-border;
    &:hover {
        border: @text-line-hover-border;
    }
}

.@{ui-class-prefix}-textline-num-line {
    background: @text-line-num-line-background;
    color: @text-line-num-line-color;
    width: @text-line-num-line-width;
    line-height: @text-line-num-line-line-height;
    font-size: @text-line-num-line-font-size;
}

.@{ui-class-prefix}-textline-text-container {
    left: @text-line-num-line-width;
    textarea {
        position: absolute;
        background: @text-line-textarea-background;
        line-height: @text-line-num-line-line-height;
        font-size: @text-line-num-line-font-size;
        resize: none;
    }
}