@import "variable.less";

.ui-tree-node {
    line-height: @Tree-node-line-height;
}

.ui-tree-content-wrapper {
    border-left: @Tree-content-border;
}

// 图标
.ui-tree-node-indicator {
    background: @Tree-node-indicator-background;
}

// 展开
.ui-tree-node-indicator-expanded {
    background: @Tree-node-indicator-expanded-background;
}

.ui-tree-content-wrapper-selected {
    background: @Tree-content-selected-background;
    border-left: @Tree-content-selected-border;
}

.skin-folder-tree-node-indicator {
    background: @Tree-folder-tree-node-indicator-background;
}
.skin-folder-tree-node-indicator-expanded {
    background: @Tree-folder-tree-node-indicator-expanded-background;
}


// 无子节点或占位
.ui-tree-node-indicator-empty,
.ui-tree-node-indicator-previous,
.ui-tree-node-indicator-far-previous {
    background-image: none;
}